# JBUILDER_GEN

package "unix" (
  requires = "cstruct-unix"
)

package "lwt" (
  requires = "cstruct-lwt"
)

package "async" (
  requires = "async_cstruct"
)

package "ppx" (
 version = "1.9.0"
 description = "Ppx syntax extension for Cstruct"
 requires(-ppx_driver) = "cstruct"
 requires(ppx_driver) = "ppx_tools_versioned"
 ppx(-custom_ppx,-ppx_driver) = "ppx_cstruct --as-ppx"
 archive(byte,ppx_driver) = "ppx_cstruct.cmo"
 archive(native,ppx_driver) = "ppx_cstruct.cmx"
)