# JBUILDER_GEN

package "unix" (
  requires = "cstruct-unix"
)

package "lwt" (
  requires = "cstruct-lwt"
)

package "async" (
  requires = "async_cstruct"
)

package "ppx" (
 description = "Deprecated. Use ppx_cstruct"
 requires = "ppx_cstruct.deprecated-ppx-method"
)